* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*font*/

.container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

header {
    width: 100%;
    height: 44px;
    background-color: salmon;
}

.frist_page {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8fa80996-ac5c-4cef-9534-a61a9457bfb3/bvlatuR/std/2880x1800/M3-Hero-LHD-US-D");
}

.navbar_end {
    float: right;
    height: 100%;
    width: 200px;
    margin: 0;
    padding: 0;
    background-color: yellow;
}


/*header list design*/